.home{
    display: flex;
    flex-direction: row;
}
.home > .image{
    height: 100vh;
    width: 50vw;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home > .image > img{
    width: 100%;
    height: auto;
}
.home > .scanner{
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home > .scanner > .scannerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home > .scanner > .scannerContainer > .scannerDiv{
    width: 250px;
    height: 250px;
    background: #f9f9f9;
}
.home > .scanner > .scannerContainer > b{
    color: green;
}